@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis.ttf");
}
@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-Bold.ttf");
    font-weight: bold;
}



/**********/
/* Header */
/**********/

#_HEADER_ {
    position: relative;
    align-items: center;
}

#_HEADER_ > * {
    display: block;
    margin: 0;
    margin-right: auto;
}

#_HEADER_ h1 {
    font-size: calc( 60px + .6vw );
    font-weight: normal;
}

#Back {
    width: 3em;
    height: 3em;
}

/********/
/* Main */
/********/

#_MAIN_ {
    font-size: min( 30px, calc( 1rem + .1vw ) );
}


#Squished {
    max-width: 1200px;
    margin: auto;
    margin-top: 2em;
}

#Squished > * { margin: 1em 0; }

#_MAIN_ li {
    margin: 1em;
}

#Whoops {
    width: fit-content;
    margin: auto;
}

.code_out {
    background-color: #f5fcff;
    box-shadow: inset 0 0 .2em black;

    font-family: Georgia, 'Times New Roman', Times, serif;

    width: min( 100%, 800px );
    padding: 2em;
    box-sizing: border-box;
    
    margin: auto;
    margin: .5em auto;
    
}



/* Contents */

#Table-of-Contents {
    width: fit-content;
    margin: auto;
    font-size: .75em;
}
#Table-of-Contents h1 { text-align: center; }

#To-Do {
    font-size: .9em;
    margin: auto;
    width: fit-content;
}
#To-Do h1 { text-align: center; }






/* GitHub */
#Download-Button {
    display: inline;
    height: 1.4em;
    margin: 0;
    padding: 0;
    transform: translate(0,10%);
}