@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis.ttf");
}
@font-face {
    font-family: Dosis;
    src: url("../fonts/Dosis-Bold.ttf");
    font-weight: bold;
}



/**********/
/* Header */
/**********/

#_HEADER_ {
    position: relative;
    align-items: center;
}

#_HEADER_ > * {
    display: block;
    margin: 0;
    margin-right: auto;
}

#_HEADER_ h1 {
    font-size: calc( 60px + .6vw );
    font-weight: normal;
}

#Back {
    width: 3em;
    height: 3em;
}

/********/
/* Main */
/********/

#_MAIN_ {
    font-size: calc( .7rem + .7vw );
}

#Squished {
    max-width: 1200px;
    margin: auto;
    margin-top: 2em;
}

#Squished > * { margin: 1em 0; }

#_MAIN_ li {
    margin: 1em;
}

#Whoops {
    width: fit-content;
    margin: auto;
}