@font-face {
    font-family: Dosis;
    src: url("../_fonts/Dosis.ttf");
}
@font-face {
    font-family: Dosis;
    src: url("../_fonts/Dosis-Bold.ttf");
    font-weight: bold;
}



/**********/
/* Header */
/**********/

#_HEADER_ {
    min-height: 100vh;
}

#_HEADER_ > * {
    --margin: 1em;

    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

#Welcome {
    width: min( 31ch, 100% );

    /* align-self: flex-end; */
    border-right: #00000071 solid .05em;
    box-sizing: border-box;
    padding-right: .5em;

    font-size: calc( 10px + 2em );
    font-weight: 900;
    text-align: right;
}

#Subtitle {
    justify-content: space-evenly;
    width: min( 100%, 1000px );
    flex-wrap: wrap;
}
#Subtitle > * {
    --margin: 2em;
    margin: var(--margin);
}

#Headshot {
    width: 8rem;
    border-radius: 2em;

    box-shadow: #00000090 .2em .2em .5em;
}


/********/
/* Main */
/********/

#_MAIN_ {
    min-height: 100vh;
}

#_MAIN_ > * { margin: 1em 0; }

#_MAIN_ h1 {
    font-size: calc( 1.2em + 2.2vw );
    text-align: center;
}
#_MAIN_ li {
    padding: .5em;
    margin: 0;
}

/* About */
#About {
    max-width: 1000px;
}


/* Register */



/* Links */
#Links {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#Links > * {
    margin: 2rem;
}
#Links * {
    text-align: center;
}
#Links ul {
    list-style: none;
    padding: 0;
}
#Links li {
    margin: 0;
    padding: .6rem 2rem;
}

#Lectures {
    font-size: 1.3em;
}