
/**********/
/* Header */
/**********/

#_HEADER_ {
    background-color: #b0b8c4;
    background-image: linear-gradient(to bottom right, #c1bee5, #777985);
}

#_MAIN_ {
    background-image: linear-gradient(to top left, transparent, #544cc91e);
}
