@font-face {
    font-family: Dosis;
    src: url("/_fonts/Dosis.ttf");
}
@font-face {
    font-family: Dosis;
    src: url("/_fonts/Dosis-Bold.ttf");
    font-weight: bold;
}



html,
body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;

    font-size: 20px;
    font-family: 'Dosis', Courier, monospace;
    letter-spacing: .08em;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}



/* For Hashes */
html { scroll-behavior: smooth; }


/* Scrollbar */
body::-webkit-scrollbar {
    background-color: transparent;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .3em #0000004b;
}
body::-webkit-scrollbar-thumb {
    background-color: #a9a9a981;
    border: 2px solid #36404928;

    box-sizing: border-box;
    border-radius: .3em;
}
body > * {
    box-sizing: border-box;
    padding: 0 1em;
}


/* Element Defaults */
img {
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
a:active {
    color: inherit;
}
p {
    text-indent: 1em;
}
p img {
    max-width: 100%;
    margin: .2em auto;
}
code {
    opacity: .7;
    font-size: .84em;
}


/* Flex Classes */
.flex { display: flex;
        align-items: center; }
.flex__row { flex-direction: row; }
.flex__column { flex-direction: column; }
.flex__row-reverse { flex-direction: row-reverse; }

/* Buttons */
.clickable { cursor: pointer; width: fit-content; }
.clickable:hover { transform: scale(1.05); }
.clickable:active { transform: scale(.98); }

.button {
    color: aliceblue;
    font-size: 1.2em;

    background-color: #00000050;
    border: #0000006b solid 2px;
    padding: 1.1em;
    border-radius: 2em;

    text-align: center;
}

.clickable,
.animated,
.animated * {
    transition-timing-function: ease-out;
    transition-duration: .1s;
}

/* Links */
.external-link::after {
    content: "";

    display: inline-block;
    width: 1em;
    height: 1em;

    background-image: url( "/_media/external-link.svg" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
p a {
    color: #4c61a8c9;
}

/* Bubble */
.bubble {
    padding: 1em;
    background-color: #00000019;
    border-radius: 2em;
    box-shadow: #0000005e .5em .5em 1em;

    margin: auto;
    width: fit-content;
}


span.highlight {
    background-color: #ffff0067;
    box-sizing: content-box;
    padding: 0 .3em;
    border-radius: 1em;
}

/**********/
/* Header */
/**********/

#_HEADER_ {

    width: 100vw;
    overflow: hidden;
    flex-shrink: 0;

    justify-content: center;

    box-shadow: #00000040 0 -8rem 3rem 8rem;

    font-size: calc( 13px + .8vw );


}

#_MAIN_ {

    width: 100vw;
    flex-grow: 1;

    align-items: center;
    justify-content: space-around;
}


/*********/
/* Other */
/*********/

.CodeMirror {
    height: auto !important;
    font-size: 0.85rem;
}
.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content;
}
