
/**********/
/* Header */
/**********/

#_HEADER_ {
    background-color: #b9c4b0;
    background-image: linear-gradient(to bottom right, #d0e5be, #7e8577);
}

#_MAIN_ {
    background-image: linear-gradient(to top left, transparent, #30778d3b);
}
